*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/gradle/wrapper/gradle-wrapper.jar
/gradlew
/gradlew.bat
/hs_err_pid1340.log
/hs_err_pid13584.log
/replay_pid1340.log
/replay_pid13584.log
